<div class="col-4 py-2">
  <div class="card text-bg-warning">
    <div class="card-body">
      <h5 class="card-title"><%= movie.name %></h5>
      <%= link_to "Mostrar", movie, class: "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>
